<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:100px;">
    <h1> 안녕하세요.</h1>
    <h1> 채식주의자를 위한 플랫폼 [채식어디] 입니다. </h1>
    <br>
    <p> 채식어디에 가입해 주셔서 감사합니다! 이메일 주소를 확인하기 위해 아래의 인증 코드를 입력해 주세요. </p>
    <br>

    <div align="center" style="border: 1px solid black; font-family: verdana;">
        <h3> 이메일 인증 코드 </h3>
        <div style="color:blue; font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
</div>
</body>
</html>