<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .responsive-container {
            margin: 100px; /* 기본 여백 설정 */
            color: black;
        }

        @media (max-width: 768px) {
            .responsive-container {
                margin: 20px; /* 모바일에서의 여백 줄이기 */
            }
        }
    </style>
</head>
<body>
<div class="responsive-container">
    <h1> 안녕하세요.</h1>
    <h1> 채식주의자를 위한 플랫폼 [채식어디] 입니다. </h1>
    <br>
    <p> 비밀번호 재설정을 요청해 주셔서 감사합니다. 아래의 인증 코드를 입력하여 비밀번호를 재설정해 주세요. </p>
    <br>

    <div align="center" style="border: 1px solid black; font-family: verdana;">
        <h3> 비밀번호 재설정 코드 </h3>
        <div style="color:blue; font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
</div>
<style>
    @media (max-width: 768px) {
        .responsive-container {
            margin: 20px; /* 모바일에서의 여백 줄이기 */
        }
    }
</style>
</body>
</html>